flows.json
[{"id":"ff3f9b5b.8f5ad8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"309be0aa.8acc","type":"ui_form","z":"ff3f9b5b.8f5ad8","name":"","label":"","group":"fb7c0321.638478","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":200,"y":200,"wires":[["8a1e228e.609cb","233eddee.8047fa"]]},{"id":"8a1e228e.609cb","type":"debug","z":"ff3f9b5b.8f5ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"233eddee.8047fa","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"msg.payload={\n    _id:msg.payload.Email,\n    Name:msg.payload.Name,\n    Emailid:msg.payload.Email,\n    password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["889f3a84.ad021"]]},{"id":"889f3a84.ad021","type":"cloudant out","z":"ff3f9b5b.8f5ad8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-hzavl-2020--cloudant-1597467230474-90034","payonly":true,"operation":"insert","x":640,"y":200,"wires":[]},{"id":"44e9c688.482d3","type":"ui_form","z":"ff3f9b5b.8f5ad8","name":"","label":"","group":"fd6648e7.0bf53","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["30ede96f.3bfad6"]]},{"id":"30ede96f.3bfad6","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"global.set(\"emailid\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[["829cc880.d2e31"]]},{"id":"829cc880.d2e31","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["bfeebf5.b4485c"]]},{"id":"bfeebf5.b4485c","type":"cloudant in","z":"ff3f9b5b.8f5ad8","name":"","cloudant":"","database":"sample","service":"node-red-hzavl-2020--cloudant-1597467230474-90034","search":"_idx_","design":"user","index":"user","x":580,"y":320,"wires":[["326f1bcb.2dad5c"]]},{"id":"326f1bcb.2dad5c","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload=\"Login Successful\";\n}\nelse{\n    msg.payload=\"Login Failed\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["60750b11.69fc04"]]},{"id":"60750b11.69fc04","type":"ui_text","z":"ff3f9b5b.8f5ad8","group":"fd6648e7.0bf53","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":320,"wires":[]},{"id":"d4feb6d4.df6e","type":"ui_form","z":"ff3f9b5b.8f5ad8","name":"","label":"","group":"5192086c.b194e8","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":420,"wires":[["3f76b75b.7497b"]]},{"id":"3f76b75b.7497b","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":420,"wires":[["61c59187.d09eb"]]},{"id":"61c59187.d09eb","type":"watson-conversation-v1","z":"ff3f9b5b.8f5ad8","name":"","workspaceid":"271e4bf2-0595-439d-8410-b67e6301c426","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6042223a-e849-4004-ac64-6a16aa94b459","timeout":"","optout-learning":false,"x":400,"y":420,"wires":[["46c99dcb.15495c","9a66e31e.f18c2"]]},{"id":"46c99dcb.15495c","type":"debug","z":"ff3f9b5b.8f5ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":380,"wires":[]},{"id":"9a66e31e.f18c2","type":"function","z":"ff3f9b5b.8f5ad8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":420,"wires":[["b23e9470.fea198","87297feb.cfa558"]]},{"id":"b23e9470.fea198","type":"ui_text","z":"ff3f9b5b.8f5ad8","group":"5192086c.b194e8","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":420,"wires":[]},{"id":"87297feb.cfa558","type":"ui_audio","z":"ff3f9b5b.8f5ad8","name":"","group":"5192086c.b194e8","voice":"","always":"","x":820,"y":480,"wires":[]},{"id":"fb7c0321.638478","type":"ui_group","z":"","name":"Reg form","tab":"4b6ee21.dcb109c","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd6648e7.0bf53","type":"ui_group","z":"","name":"Login form","tab":"7aece944.14eaa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5192086c.b194e8","type":"ui_group","z":"","name":"Bot","tab":"72d4b550.1bd054","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b6ee21.dcb109c","type":"ui_tab","z":"","name":"Registeration","icon":"dashboard","disabled":false,"hidden":false},{"id":"7aece944.14eaa8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"72d4b550.1bd054","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]